<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Pointer Probe</title>
  <style type="text/css">
    .alertnorm{
      color:red;
      font-family: Helvetica;
      color: #cc0033;
      margin-bottom: 30px;
      border: 0px;
      padding: 0px;
    }
  </style>

  <!-- Bootstrap Core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="static/css/style.css">

</head>

<body  id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
        <i class="fas fa-bars"></i>
      </a>
      <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top">Getting Started</a>
          </li>
          <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#page-top">Home</a>
          </li>
          <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#details">Check Scores</a>
          </li>
          <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#details">Peer Comparison</a>
          </li>
          <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="/predict">Predict Scores</a>
          </li>
        </ul>
      </nav>

    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
        <h1 class="mb-1">Pointer Probe</h1>
        <h3 class="mb-5">
            <em>An ultimate application to evaluate academic performance and predict results.</em>
        </h3>
        <div class="overlay"></div>
    </header>

    <!--About-->
    <section class="content-section bg-light" id="about">
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>A perfect tool helping you master all your tests.</h2>
                <p class="lead mb-5">Analyse your performance, Compare scores with peers and try to predict your scores for a semester!
                </p>
            </div>
          </div>
        </div>
    </section>

    <div class="content-section bg-dark" id="details">
        <div class="container-contact100">
        <div class="wrap-contact100">
                <form class="contact100-form" action="{{ url_for('handle_data') }}" method="post">
                    <span class="contact100-form-title">
                        Details
                    </span>
                    <div id="inputline1" class="wrap-input100">
                        <span class="label-input100">Roll Number</span>
                        <input class="input100" id="rno" type="text" name="rno" oninput="validater()" placeholder="Enter your Roll Number">
                        <span class="focus-input100"></span>
                    </div>
                    <p class="alertnorm" id="alertmessagerno"></p>
                    <div id="inputline2" class="wrap-input100">
                        <span class="label-input100">Semester</span>
                        <input class="input100" oninput="validates()" id="sem" name="sem" placeholder="Enter the semester number">
                        <span class="focus-input100"></span>
                    </div>
                    <p class="alertnorm" id="alertmessagesem"></p>
                    <div class="container text-center">
                    <button class="btn btn-xl btn-primary" onclick="return checkForm()" type="submit">Get started</button>
                    </div>  
                    </div>
                </form>
            </div>
        </div>
    </div>

  
    <!--Footer-->
    <footer class="footer text-center">
          <p class="text-muted small mb-0">Copyright &copy; Pointer Probe 2020</p>
    </footer>
      
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/stylish-portfolio.min.js"></script>

    <script type="text/javascript">
        var checkroll = false, checksem = false;
        function validater(){
            var x = document.getElementById("rno").value;
            if ((x >= 1811001 && x <= 1811128) || (x >= 1921001 && x <= 1921011)){
              checkroll = true;
              document.getElementById("inputline1").className = "wrap-input100";
              document.getElementById("alertmessagerno").innerHTML = ""
            }
            else{
             document.getElementById("inputline1").className = "wrap-inputnew100";
             document.getElementById("alertmessagerno").innerHTML = "Invalid Roll Number *" 
            }
            if (x == ""){
              document.getElementById("inputline1").className = "wrap-inputnew100";
              document.getElementById("alertmessagerno").innerHTML = "Roll Number Field Required *";
            }
        }
  
        function validates(){
            var x = document.getElementById("sem").value;
            if (x >= 1 && x <= 3){
              checksem = true;
              document.getElementById("inputline2").className = "wrap-input100"; 
              document.getElementById("alertmessagesem").innerHTML = ""
            }
            else{
             document.getElementById("inputline2").className = "wrap-inputnew100";
             document.getElementById("alertmessagesem").innerHTML = "Invalid Semester *" 
            }
            if (x == ""){
             document.getElementById("inputline2").className = "wrap-inputnew100";
             document.getElementById("alertmessagesem").innerHTML = "Semester Field Required *"; 
            }
        }
  
        function checkForm(){
          if(checkroll==false || checksem==false){
            alert("Please enter correct information");
            return false;
          }
        }
      </script>
</body>
</html>